## Практическое ДЗ-4

Это домашнее задание посвязщено работе с текстом и классификации. Мы будем классифицировать твиты о коронавирусе. Скачать данные из папки data.

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('data/coronavirus_tweets_with_labels.csv', encoding='ISO-8859-1', parse_dates=['TweetAt'])
print(df.shape)
df.head()

(41157, 6)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,2020-03-16,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,2020-03-16,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,2020-03-16,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,2020-03-16,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,2020-03-16,"Me, ready to go at supermarket during the #COV...",Extremely Negative

**Задание 1 (0.5 баллов)**

Сделайте 3 группы в целевой переменной: `Extremely Positive` отметьте как `Positive`, а `Extremely Negative` – `Negative`. Сколько наблюдений в каждом классе? Закодируйте их в числовом виде простым LabelEncoding'ом.

**Задание 2 (0.5 баллов)**

Добавьте колонку с месяцем твита. Нарисуйте barchart, где по оси Х – месяц, по оси Y – количество твитов в этом месяце.

**Задание 3 (1 балл)**

Очистим твиты. Удалите ссылки, пунктуацию, теги, которые начинаются с @ и #.

**Задание 4 (1 балл)**

Токенизируйте тексты твитов с помощью `word_tokenize()` из библиотеки `nltk`. Лемматизируйте с помощью `WordNetLemmatizer()` из той же библиотеки.

**Задание 5 (0 баллов)**

Разделите данные на обучающую и тестовую выборку (используем только обработанные тексты твитов из прошлого задания и разметку) в соотношении 70 на 30.

**Задание 6 (0.5 баллов)**

Примените `CountVectorizer()`, не забудьте убрать стоп-слова с помощью аргумента `stop_words='english'`. Обучите логистическую регрессию. Выведите `classification_report` из библиотеки `sklearn`.

**Задание 7 (1 балл)**

Подберите параметры `C` и `penalty` для логистической регрессии так, чтобы получилось улучшить результат.

**Задание 8 (1 балл)**

Попробуйте разные значения `ngram_range`. Как меняется результат?

**Задание 9 (1.5 балла)**

Теперь воспользуемся `TfidfVectorizer`. Повторите задания 6-7-8.

**Задание 10 (1 балл)**

В этом и последующих заданиях будем пользоваться векторами, полученными с помощью `TfidfVectorizer`. Обучите модель случайного леса, подобрав параметры `n_estimators`, `max_depth` с помощью GridSearch c 5 фолдами и параметром `scoring = 'accuracy'`. Выведите `classification_report` для лучшей модели.

**Задание 11 (1 балл)**

Обучите модель `SGDClassifier`, подобрав параметры `alpha` и `penalty` с помощью GridSearch c 5 фолдами и параметром `scoring = 'accuracy'`. Выведите `classification_report` для лучшей модели.

**Задание 12 (1 балл)**

Обучите модель XGBoost, подобрав параметры `max_depth`, `n_estimators` и `learning_rate` с помощью GridSearch c 5 фолдами и параметром `scoring = 'accuracy'`. Выведите `classification_report` для лучшей модели.